axes.prop_cycle : cycler('color', ['olivedrab', 'steelblue', 'firebrick', 'goldenrod'])

backend : pgf

figure.constrained_layout.use : True
figure.constrained_layout.w_pad : 0.09 
figure.constrained_layout.h_pad : 0.09

figure.dpi : 600
figure.figsize : 6.00 , 3.75

font.family : serif
font.size : 10

legend.fontsize : small
legend.frameon : False

lines.dash_capstyle: round
lines.solid_capstyle: round

pgf.preamble : \input{header.tex}
pgf.rcfonts : False
pgf.texsystem : lualatex

text.usetex : True

xtick.labelsize : 9
xtick.minor.visible : True

ytick.labelsize : 9
ytick.minor.visible : True
